# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development

NEXT_PUBLIC_TINA_CLIENT_ID=
TINA_TOKEN=
TINA_SEARCH_TOKEN=
TINA_PUBLIC_IS_LOCAL=true
GITHUB_BRANCH=main
OPENAI_API_KEY=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
EMAIL_SENDER=
EMAIL_ADMIN=