@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark;
}

html {
  scrollbar-gutter: stable;
}

@theme {
  --font-lora: "Lora", Georgia, serif;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

/* *:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgb(from var(--fallback-p, oklch(55% 0.3 240)) r g b / 0.5);
} */

@layer base {
  * {
    transition-property: box-shadow, border-radius;
    @apply ring-2 ring-offset-0 ring-transparent transition-[box-shadow] duration-300 rounded-sm;
  }

  *:focus-visible {
    @apply outline-none ring-primary ring-offset-3;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */